<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="0.0318925 0.0342034 -0.0573687" rpy="3.14135 3.12304 0.00199346" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="0.0318925 0.0342034 -0.0573687   0.00927742 0.000113984 0.999956 -0.000995543 tool_frame camera_color_optical_frame" />
</launch>
